.city {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  justify-content: space-around;
  margin: 5px 0;
  padding-bottom: 15px;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  font-style: italic;
}

.value {
  color: $green;
  font-weight: bold;
  font-size: 24px;
}

.temp {
  font-size: 40px;
  color: $light-blue;
}
#riskValue {
  font-size: 40px;
  color: $dark-red;
}

.smallItem {
  // width: 100px;
}

.invasive {
  height: auto;
  display: flex;
  // grid-template-columns: 2fr 3fr;

  .city-info {
    // min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    // grid-template-rows: 2fr 1fr 1fr;
    margin-top: 5px;
    font-size: 14px;
    text-align: center;

    @at-root #{&}__cityName {
      font-size: 36px;
      font-weight: bold;
      color: $blue;
    }

    @at-root #{&}__website {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      // grid-template-columns: 1fr 10fr;
      color: $dark-blue;
      font-size: 100;

      a {
        text-decoration: none;
      }
    }
  }
  .collection-table {
    .aegypti {
      color: $red;
    }

    .albopictus {
      color: $blue;
    }

    .notoscriptus {
      color: $orange;
    }

    .detections {
      font-weight: bold;
      font-size: 48px;
    }

    .agency-info {
      margin-top: 10px;
    }

    table {
      th {
        padding-top: 5px;
      }
      // tr:nth-child(2) {
      //   // display: flex;
      //   align-items: center;
      // }
      td {
        padding-top: 5px;
      }
    }
  }
}
