.card__date {
  width: 350px;
  // text-align: left;
  padding: 0px;

  @at-root #{&}--value {
    font-weight: bold;
  }
}

#currentCity {
  font-size: 28px;
  // font-weight: bold;
  text-transform: uppercase;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  justify-content: space-around;
  margin-top: 5px;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  font-style: italic;
}

.value {
  color: $green;
  font-weight: bold;
  font-size: 24px;
}

.temp {
  font-size: 40px;
  color: $light-blue;
}
#riskValue {
  font-size: 40px;
  color: $dark-red;
}

.smallItem {
  // width: 100px;
}
