.city {
  width: 100%;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 0;
}

.row4 {
  display: grid;
  grid-template-columns: repeat(4, 120px);
  justify-content: space-around;
  margin: 5px 0;
  padding-bottom: 15px;
}

.label {
  font-size: 11px;
  text-transform: uppercase;
  font-style: italic;
}

.value {
  color: $green;
  font-weight: bold;
  font-size: 24px;
}

.temp {
  font-size: 40px;
  color: $light-blue;
}
#riskValue {
  font-size: 40px;
  color: $dark-red;
}

.smallItem {
  // width: 100px;
}

.invasive {
  height: auto;
  display: grid;
  grid-template-columns: 2fr 3fr;

  .city-info {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    margin-top: 5px;
    font-size: 14px;

    @at-root #{&}__cityName {
      font-size: 36px;
      font-weight: bold;
      color: $blue;
    }

    @at-root #{&}__website {
      display: flex;
      align-items: center;
      height: 30px;
      // grid-template-columns: 1fr 10fr;
      color: $dark-blue;
      font-size: 100;

      a {
        text-decoration: none;
      }
    }
  }
  .title {
    padding: 15px;
    font-size: 24px;
    font-weight: bold;
  }

  .aegypti {
    color: $red;
  }

  .albopictus {
    color: $blue;
  }

  #aegypti_detections {
    font-weight: bold;
    font-size: 48px;
  }

  #albopictus_detections {
    font-weight: bold;
    font-size: 48px;
  }
  .row {
    font-size: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .date-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    .dateItem {
    }
  }

  .agency-info {
    margin-top: 10px;
  }

  table {
    th {
      padding-top: 10px;
    }
    td {
      padding: 5px;
    }
  }
}
