body {
  background: $background;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

.visualizations {
  margin: 5px auto;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 20px;
  justify-content: space-around;
  width: 100vw;
}

.map {
  min-width: 400px;
  height: 90vh;
}
@media (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .map {
    height: 60vh;
  }
}

#map {
  margin: 0px auto;
  text-align: center;
  border-radius: 10px;
  height: inherit;
  overflow: hidden;
  border: 3px $water solid;
}
.city-data {
  margin-right: 10px;
  display: inline-block;

  #chart {
    text-align: center;
    margin: -10px auto 0px auto;
  }
}

.card {
  margin: 10px auto;
  box-sizing: border-box;
  background: #fff;
  text-align: center;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.city {
  width: $city-width;
  padding: 0px;
}

/* MEDIA QUERIES */

// FOR SMALLER SCREENS
@media (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .visualizations {
    grid-template-columns: 1fr;
    // grid-column: 1 / -1;
  }

  .map {
    height: 50vh;
  }

  .city-data {
    // border: 5px yellow solid;
  }
  .legend {
    height: 60px;
  }
}

// // FOR EXTRA LARGE DISPLAYS
// @media (min-width: 1400px) {
//   .slider::-webkit-slider-thumb {
//     width: 50px;
//     height: 50px;
//     background: yellow;
//   }

//   .legend {
//     div {
//       padding: 10px;
//     }
//   }
//   .city-data {
//     .label {
//       font-size: 18px;
//     }

//     .temp,
//     #riskValue {
//       font-size: 48px;
//     }

//     .value {
//       font-size: 28px;
//     }
//     .row {
//       // background: green;
//       display: block;
//       div {
//         padding-top: 20px;
//       }
//       // grid-template-columns: 1fr;
//     }

//     .row4 {
//       grid-template-columns: 1fr 1fr;

//       div {
//         padding-top: 20px;
//       }
//     }
//   }
// }
