.legend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
  margin: 0px auto 10px auto;
  text-align: center;
  height: 40px;
  // padding: 5px;
}

.legend__item {
  padding: 4px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
}

.legend__item--xLow {
  background: #1565c0;
  color: white;
}
.legend__item--low {
  background: #6ec6ff;
}
.legend__item--moderate {
  background: #ef9a9a;
}
.legend__item--high {
  background: #f44336;
}

.legend__invasive--surveillance {
  background: $green;
}

@media (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .legend__risk {
    padding: 10px 0px;
    font-size: 24px;
    // margin: 10px;
  }
}

// Invasive Legend //
.invasive__legend {
  // display: flex;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(5, 1fr);
  grid-template-columns: repeat(5, 1fr);
  // justify-content: space-evenly;
  height: 40px;
  align-items: center;

  :nth-child(1) {
    -ms-grid-column: 1;
  }
  :nth-child(2) {
    -ms-grid-column: 2;
  }
  :nth-child(3) {
    -ms-grid-column: 3;
  }
  :nth-child(4) {
    -ms-grid-column: 4;
  }
  :nth-child(5) {
    -ms-grid-column: 5;
  }

  @at-root #{&}--item {
    // display: flex;
    display: -ms-grid;
    border: 1px dashed green;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    -ms-flex-pack: center;
    height: 32px;

    .invasive__legend-box {
      width: 25px;
      height: 25px;
      background: red;
      margin-right: 5px;
      margin-left: 5px;
      -ms-grid-column: 1;

      @at-root #{&}--surveillance {
        background: $green;
      }
      @at-root #{&}--no-surveillance {
        background: $gray;
      }
      @at-root #{&}--aegypti {
        background: $red;
      }
      @at-root #{&}--albopictus {
        background: $blue;
      }
      @at-root #{&}--notoscriptus {
        background: $yellow;
      }
    }

    .invasive__legend-label {
      -ms-grid-column: 2;
      font-size: 90%;
      // font-size: responsive;
    }
  }
}
