.legend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
  margin: 0px auto 10px auto;
  text-align: center;
  height: 40px;
  // padding: 5px;
}

.legend__risk {
  padding: 4px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
}

.legend__risk--xLow {
  background: #1565c0;
  color: white;
}
.legend__risk--low {
  background: #6ec6ff;
}
.legend__risk--moderate {
  background: #ef9a9a;
}
.legend__risk--high {
  background: #f44336;
}

@media (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .legend__risk {
    padding: 10px 0px;
    font-size: 24px;
    // margin: 10px;
  }
}
