.legend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
  margin: 0 auto;
  text-align: center;
}

.legend__risk {
  padding: 4px;
  font-weight: bold;
  font-style: italic;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  // margin: 0 auto;
}

.legend__risk--xLow {
  background: #1565c0;
  color: white;
}
.legend__risk--low {
  background: #6ec6ff;
}
.legend__risk--moderate {
  background: #ef9a9a;
}
.legend__risk--high {
  background: #f44336;
}
