.selector {
  width: 100%;
  height: auto;
  margin-bottom: 0px;

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
    height: 80px;
  }

  .selector__mosquitos {
    font-size: 18px;
    font-style: italic;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    align-items: center;

    //the mosquito toggle container label
    .switch {
      position: relative;
      display: inline-block;
      width: 100px;
      height: 34px;
      margin: 0 auto;
      // border: 1px solid green;

      input {
        display: none;
      }
    }

    /* The actual toggle element */
    .mosquito-toggle {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $red;
      border-radius: 35px;

      @at-root #{&}:before {
        border-radius: 50%;
      }
      -webkit-transition: 1s;
      transition: 1s;

      @at-root #{&}:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 30px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: 1s;
        transition: 1s;
      }
    }

    //mosquito icons on either side of toggle
    .mosquito {
      display: flex;
      align-items: center;
      // border: 1px dashed black;

      svg {
        height: 40px;
        width: 40px;
      }
    }
    .mosquito--left {
      justify-content: flex-end;
      color: $red;
      fill: $red;
    }
    .mosquito--right {
      justify-content: flex-start;
      color: $blue;
      fill: $blue;
    }

    input:checked + .mosquito-toggle {
      background-color: $blue;
    }

    input:focus + .mosquito-toggle {
      box-shadow: 0 0 1px $blue;
    }

    input:checked + .mosquito-toggle:before {
      -webkit-transform: translateX(59px);
      -ms-transform: translateX(59px);
      transform: translateX(60px);
    }
  }

  .invasiveChart__legend {
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 18px;

    @at-root #{&}--item {
      display: grid;
      grid-template-columns: 1fr 3fr;
      text-align: left;
      margin-top: 5px;
      text-align: left;
    }

    @at-root #{&}-box {
      height: 25px;
      width: 25px;
      margin: 0 auto;

      @at-root #{&}--total-collections {
        background-color: $purple;
      }

      @at-root #{&}--growth {
        background: $light-blue;
        border-radius: 0;
        width: 45px;
        height: 5px;
        margin-top: 10px;
      }
    }
  }

  // .active {
  //   border: 6px solid black;
  //   border-radius: 0;
  //   box-sizing: border-box;
  // }

  // .selector__mosquitos {
  //   display: grid;
  //   grid-template-columns: repeat(3, 1fr);
  //   grid-gap: 5px;
  //   margin: 0 10px 0 10px;
  //   font-size: 16px;
  // }

  // .selector__surveillance {
  //   display: grid;
  //   grid-template-columns: repeat(2, 1fr);
  //   margin: 10px;
  //   font-size: 18px;
  //   // grid-gap: 10px;

  //   .selector__mosquito {
  //     display: grid;
  //     grid-template-columns: 2fr 3fr;
  //     height: 40px;
  //     border-radius: 0;

  //     svg {
  //       margin: 0 auto;
  //       height: 60px;
  //     }
  //     @at-root #{&}--label {
  //       margin-top: 5px;
  //     }
  //   }
  // }

  // @at-root #{&}__mosquito {
  //   height: 75px;
  //   text-align: center;
  //   border-radius: 10px;
  //   display: grid;
  //   grid-template-columns: 1fr 2fr;

  //   svg {
  //     height: 30px;
  //     margin: 15px auto 0px;
  //     text-align: center;
  //   }

  //   @at-root #{&}--surveillance {
  //     background: $green;
  //     font-size: 16px;
  //   }
  //   @at-root #{&}--aegypti {
  //     background: $red;
  //   }
  //   @at-root #{&}--albopictus {
  //     background: $blue;
  //   }

  //   @at-root #{&}--total {
  //     background: $deep-purple;
  //   }

  //   @at-root #{&}--noData {
  //     background: $gray;
  //   }
  //   @at-root #{&}--label {
  //     color: white;
  //     margin-top: 10px;
  //     text-align: left;
  //   }
  // }
}
