.selector {
  width: 100%;
  height: auto;
  margin-bottom: 0px;

  .card {
    font-size: 28px;
    font-style: italic;
    text-align: left;
    height: 180px;
    @at-root #{&}__heading {
      margin-left: 30px;
      padding: 10px;
    }
  }

  .active {
    border: 6px solid black;
    border-radius: 0;
    box-sizing: border-box;
  }

  .selector__mosquitos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    margin: 0 10px 0 10px;
    font-size: 16px;
  }

  .selector__surveillance {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    font-size: 18px;
    // grid-gap: 10px;

    .selector__mosquito {
      display: grid;
      grid-template-columns: 2fr 3fr;
      height: 40px;
      border-radius: 0;

      svg {
        margin: 0 auto;
        height: 60px;
      }
      @at-root #{&}--label {
        margin-top: 5px;
      }
    }
  }

  @at-root #{&}__mosquito {
    height: 75px;
    text-align: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;

    svg {
      height: 30px;
      margin: 15px auto 0px;
      text-align: center;
    }

    @at-root #{&}--surveillance {
      background: $green;
      font-size: 16px;
    }
    @at-root #{&}--aegypti {
      background: $red;
    }
    @at-root #{&}--albopictus {
      background: $blue;
    }

    @at-root #{&}--notoscriptus {
      background: $orange;
    }

    @at-root #{&}--noData {
      background: $gray;
    }
    @at-root #{&}--label {
      color: white;
      margin-top: 10px;
      text-align: left;
    }
  }
}
