.selector {
  width: 100%;
  height: auto;
  margin-bottom: 0px;

  .card {
    //containing card
    display: flex;
    justify-content: space-around;
    align-content: center;
    height: 80px;

    .selector__mosquitos {
      //first half of the selector card holding the three mosquitos
      width: 60%;
      display: flex;
      border: 0px solid blue;
      justify-content: space-around;
      align-items: center;

      @at-root #{&}--mosquito {
        // each individual mosquito div
        border: 0px dashed green;
        align-items: center;
        padding: 15px;
      }

      #aegypti {
        background-color: $red;
      }
      #albopictus {
        background-color: $blue;
      }
      #notoscriptus {
        background-color: $orange;
      }

      .active {
        border: 4px solid black;
        color: white;
      }
    }

    .invasiveChart__legend {
      //second half of the selector holidng totals and growth keys
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      @at-root #{&}--item {
        //the container around the box and the label
        display: flex;
        justify-content: flex-start;

        .invasiveChart__legend-box {
          margin-right: 10px;
        }
        .invasiveChart__legend-box--total-collections {
          height: 25px;
          width: 25px;
          background: $light-purple;
          margin-right: 45px;
        }
        .invasiveChart__legend-box--growth {
          background: $light-blue;
          border-radius: 0;
          width: 45px;
          height: 5px;
          margin-top: 10px;
        }
        .invasiveChart__legend-label {
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .selector {
    .card {
      height: auto !important;
      display: block !important;
      .selector__mosquitos {
        width: 100% !important;
      }
    }
  }
}
