.sliderContainer {
  text-align: center;
  margin-top: 0px;
  width: 100%;
  padding-bottom: 10px;

  .label {
    text-align: center;
    font-size: 16px;
    // font-weight: bold;
  }
}

.slider {
  text-align: center;
  margin: 25px auto;
  -webkit-appearance: none; /* Override default CSS styles */
  margin-top: 20px;
  appearance: none;
  width: 470px; /* width of context scale */
  height: 5px;
  background: $background;
  outline: none;
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: $dark-red; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50px;
  transition: all 0.5s ease;

  &:active {
    height: 35px;
    width: 35px;
    border: 8px solid $light-red;
  }
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: $dark-red; /* Green background */
  border-radius: 50px;
  -moz-appearance: none;
  stroke: none;
  appearance: none;
  cursor: pointer; /* Cursor on hover */
  transition: all 0.5s ease;

  &:active {
    height: 35px;
    width: 35px;
    // border: 2px solid yellow;
  }
}

.slider::-moz-range-track {
  background-color: white;
}

#currentCity {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  margin-left: 15px;
  color: $water;
}

@media (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .slider::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
    // background: yellow;
  }
  .slider {
    width: 800px;
  }
}
